
venv/Lib/

venv/Scripts/

venv/data/phishTank\.json

venv/graphs/*

!venv/graphs/.gitkeep

venv/__pycache__/

\.idea/

geckodriver\.log

venv/data/Unused/phishTank\.json

venv/libs/whois/__pycache__/

venv/DB/

*.log

venv/api_keys/
